



<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @student.name %></h3>
  </div>
  
  <div class="panel-body">  


					<label>Email:</label>
					<%= @student.email %><br/>

					<label>mobile</label>
					<%= @student.mobile%><br/>

					<label>About</label>
					<%= @student.about%><br/>

					<label>Address</label>
					<%= @student.address%><br/>

					<label>Gender</label>
					<%= @student.gender%><br/>

					<label>Qualification</label>
					<%= @student.qualification%><br/>

					<label>Preference</label>
					<%= @student.preference%><br/>

					<label>COURSES</label>
					     <% @student.courses.each do |course|%>
					     <%= course.name %>
					<%end%><br/>
   </div>
</div>

<%#= button_to "Add course", new_course_path, :class => "btn btn-primary", :method => :get %>
<%= button_to "Edit", edit_student_path(@student), :class => "btn btn-primary", :method => :get %> 
<%= button_to "Delete", student_path(@student), method: :delete, :class => "btn btn-danger", data: {confirm: "Are you sure?"} %>
