<!DOCTYPE html>
<html>
<head>
  <title>Sanstha</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <!-- Latest compiled and minified CSS -->



<!-- jquery datepicker-->

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#batch_start_date").datepicker();
    $('#batch_end_date').datepicker();
  });
  </script>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	  <div class="container"%>



<!-- Navbar -->  

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sanstha</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">




<% if user_signed_in? %>      
      
      <ul class="nav navbar-nav">
    
      <% if controller.controller_name == "dashboard" %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <a href = "/dashboard/index">Dashboard</a></li>

      <% if controller.controller_name == "students" %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Students", students_path %></li>
      
      <% if controller.controller_name == "batches" %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Batches", batches_path %></li>

      <% if controller.controller_name == "courses" %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Courses", courses_path %></li>  


      <% if controller.controller_name == "projects" %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Projects", projects_path %></li>  
        
        
       
      </ul>
      

<% end %>      
      

      <ul class="nav navbar-nav navbar-right">

        

        <% unless user_signed_in? %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% else %>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><%= current_user.email %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class = "glyphicon glyphicon-user "></span>Profile</a></li>
            <li><%= link_to edit_user_registration_path do %><span class = "glyphicon glyphicon-cog  "></span>Account Settings<% end %></li>
             <li><%= link_to destroy_user_session_path, method: :delete do %><span class = "glyphicon glyphicon-off  "></span>Logout<% end %></li>
            <li></li>
          </ul>
         </li>
        <% end %>


     


        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Alerts -->
     <% if notice.present? %>
       <div class="alert alert-warning alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <strong><%= notice %></strong>
       </div>
     <% end %>  

   


<!--	  <p class="notice"><%= notice %></p> -->
       <p class="alert"><%= alert %></p>


 <!--JumboTron --> 
 
      <% if controller.controller_name == "sessions"  ||  controller.controller_name == "registration" %>
      <div class="jumbotron col-md-8">
        <h1 style="color :#006A4E">Sanstha</h1>
        <p style="color : #1974D2">The Great Aim Of Education Is Not Knowledge But Action</p>
        
      </div> 
      <% end %>    

      


<%= yield %>
</div>

</body>
</html>
